
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body class="container">

    <h1 class="h1">Welcome to Bookstore application</h1>
    <img src="~/images/logo.png" class="logo" alt="logo" />
    <p>This is the home page of the application</p>

</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>

<script>
    $(document).ready(function () {
        alert('Page loaded');
    })
</script>