################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebBookStore/.vs/WebBookStore/v16
/WebBookStore/WebBookStore/obj
